<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.neil.dailyzhihu">

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--内存读写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!--WiFi网络状态获取权限-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--读取手机状态权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--账户获取与管理权限-->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!--摄像头权限-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--蜂鸣器权限-->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_dailyzhihu"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppNightTheme">

        <!--主Activity窗口注册-->
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppNightTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--所有主题窗口注册-->
        <activity
            android:name=".ui.topic.NavTopicsActivity"
            android:label="@string/activity_topics"
            android:theme="@style/AppNightTheme">
        </activity>

        <!--关于窗口注册-->
        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/activity_about"
            android:theme="@style/AppNightTheme">
        </activity>

        <!--某一主题窗口注册-->
        <activity
            android:name=".ui.topic.CertainTopicActivity"
            android:theme="@style/AppNightTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neil.dailyzhihu.ui.main.MainActivity"/>
        </activity>

        <!--所有栏目窗口注册-->
        <activity
            android:name=".ui.column.NavColumnsActivity"
            android:label="@string/nav_columns"
            android:theme="@style/AppNightTheme">
        </activity>

        <!--某一栏目窗口注册-->
        <activity
            android:name=".ui.column.CertainColumnActivity"
            android:theme="@style/AppNightTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neil.dailyzhihu.ui.main.MainActivity"/>
        </activity>

        <!--Story窗口注册-->
        <activity
            android:name=".ui.story.CertainStoryActivity"
            android:theme="@style/AppNightTheme.NoActionBar"/>

        <!--Story窗口注册-->
        <activity
            android:name=".ui.story.CertainStoryCommentActivity"
            android:label="@string/activity_comment"
            android:theme="@style/AppNightTheme"/>

        <!--Mob分享窗口注册-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1105271711"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.story.ImageStoryActivity"
            android:theme="@style/AppNightTheme"/>

        <!--二维码扫描窗口注册-->
        <activity
            android:name="com.xys.libzxing.zxing.activity.CaptureActivity"
            android:theme="@style/AppNightTheme">
        </activity>

        <activity
            android:name=".ui.story.ShareActivity"
            android:theme="@style/AppNightTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ui.setting.SettingActivity"
            android:label="@string/activity_setting"
            android:theme="@style/AppNightTheme">
        </activity>

    </application>
</manifest>